*, *:after, *:before{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
/* a{
    color: inherit;
} */
.container{
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
}
.sectionHeader{
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.sectionHeader h2{
    margin: 0;
}

.productInner{
    border: 1px solid #ddd;
}
.productImg{
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    justify-content: center;
}
.discount{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: green;
    padding: 3px 7px;

}
.productImg img{
    display: block;
}
.productInfo{
    padding: 10px 15px;
}
.productInfo h4{
    font-size: 22px;
    margin: 0px; 
    margin-bottom: 5px;   
}
.productInfo h4 a{
    color: #333;
    text-decoration: none;
}
.price{
    font-size: 20px;
    color: #f00;
    font-weight: 600;
    margin-bottom: 5px;
}
.price del{
    color: grey;
    font-size: 17px;
}
.addToCart{
    display: inline-block;
    padding: 7px 14px;
    color: #fff;
    background-color: green;
    text-decoration: none;
}
.nkProducts{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px -10px; */
}
.boxProduct{
    width: 20%;
    padding: 0px 10px;
    margin: 10px 0px;
}

@media (max-width: 1024px){
    .boxProduct{
        width: 25%;
    }
}

@media (max-width: 840px){
    .boxProduct{
        width: 33.333%;
    }
}
@media (max-width: 572px){
    .boxProduct{
        width: 50%;
    }
}
@media (max-width: 440px){
    .boxProduct{
        width: 100%;
    }
}